config VAAMAN_BOARDINFO
	bool "Enable VAAMAN boardinfo"
	default n
	help
	  This option enables the VAAMAN board information.

config VAAMAN_BOARDINFO_DECRYPT
	bool "Enable VAAMAN boardinfo decryption test"
	help
	  This option enables the VAAMAN board information decryption test.

config VAAMAN_BOARDINFO_DEBUG
	bool "Enable VAAMAN boardinfo debug"
	help
	  This option enables the VAAMAN board information debug.

